<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Email Onayı</title>
<style>
  h1 {
    color: #333;
    text-align: center;
  }
  p {
    color: #666;
    line-height: 1.6;
  }
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .btn:hover {
    background-color: #0056b3;
  }
</style>
</head>
<body>
<div class="container">
  <h1>Confirm Email</h1>
  <h5>Dear WTT Technology Shopping Site User,</h5>
  <p>Thank you for successfully confirming your email address!
     You are now part of the WTT family, where you can make your
      selections from a wide range of products, stay updated on the 
      latest technology trends, and take advantage of exclusive offers 
      and promotions.</p>
  <p>Confirming your email address ensures the security of your 
    account and helps us provide you with a seamless shopping experience.
     We appreciate you completing this step.</p>
  <p>Now, enjoy shopping at WTT Technology Shopping Site to the fullest!
     If you need any assistance or have any questions, please feel free
      to contact us anytime. Customer satisfaction is our priority.</p>
    <p>Thank you, and happy shopping!</p>
    <p>Best regards,</p>
    <p>WTT Technology Shopping Site Team</p>
</div>
</body>
</html>
