<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

</style>
</head>
<body>

<div class="about-section">
  <h1>About Us</h1>
  <p>World Thunder Technologies</p>
  <p>WTT is an e-commerce platform providing services in the technology sector.</p>
</div><br><hr>
<div class="column">
    <div class="card" style="width: 300%;">
        <div class="container" style="text-align: center;">
          <br><br>
            <h1>WORLD THUNDER TECHNOLOGIES</h1>
            <p>World Thunder Technologies (WTT) is a leading e-commerce platform in the technology sector.
                We strive to provide our customers with the latest technology products while ensuring fast,
                secure, and quality shopping experiences. Our extensive range of products includes computers,
                smartphones, tablets, accessories, and other technology products. Our customer support team
                is always ready to keep customer satisfaction at the highest level. Additionally, we aim to
                provide customers with a reliable shopping experience through our secure payment system and fast
                shipping service. At WTT, we aim to earn the trust of technology enthusiasts by offering
                them the best products and services, and meeting their technology needs.</p>
            <p>WTT not only offers our customers the latest technology products, but also promotes eco-friendly
                 practices and adheres to sustainability principles. We select packaging materials that are
                recyclable and eco-friendly. Furthermore, we strive to reduce waste by offering maintenance
                and repair services to extend the lifespan of our products. WTT embraces the mission of leaving
                a more sustainable world for future generations by not only viewing technology as a product, but
                also considering its environmental impacts.</p> <br><br>
        </div>
    </div>
</div>
<br>
<hr>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<h2 style="text-align:center">Our Principles at WTT are...</h2>
<hr>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="~/img/logo3.png" alt="fastwtt" style="width:100%">
      <div class="container">
        <hr>
        <h2>FAST</h2>
        <p>Fast processing and delivery times are our priority to provide the best experience for our customers.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="~/img/logo1.png" alt="securewtt" style="width:100%">
      <div class="container">
        <hr>
        <h2>SECURE</h2>
        <p>We take the highest level of precautions to ensure the security of customer information.</p> <br>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="~/img/logo4.png" alt="qualitywtt" style="width:100%">
      <div class="container">
        <hr>
        <h2>QUALITY</h2>
        <p>We strive to continuously improve the quality of our products and maintain the highest level of customer satisfaction.</p>
      </div>
    </div>
  </div>
</div>
<hr>

</body>
</html>
