@model List<Category>
<style>
  .nav-item {
    display: flex;
		flex-direction: row;
  }
*, *:after, *:before {
	box-sizing: border-box;
}


a {
	color: inherit;
	text-decoration: none;
	transition: .25s ease;
}


	li {
		margin-left: .75em;
		margin-right: .75em;
	}
	
	&:hover {
		a {
			&:hover {
				color: #000;
				box-shadow: 0 2px 0 0 currentcolor;
			}
		}
	}
}


</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        @foreach (var item in Model)
        {
            <a style="font-size: small;" asp-controller="Shop" 
            asp-action="List" 
            asp-route-category="@item.Url" 
            class="nav-link  @(ViewBag.SelectedCategory == item.Url ? "active" : "") flex-grow-1">
                @item.Name
            </a>
        }
      </div>
    </div>
  </div>
</nav>